{% extends "../top-navigation.html" %}

{% block navigation %}

  {% block topmenu %}
  <ul class="nav navbar-top-links navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-user fa-fw"></i>
        <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li> </li>
        <li> </li>
        <li class="divider"></li>
        <li><a href="{{ url_for('module_employee.logout') }}"><i class="fa fa-sign-out fa-fw"></i>Logout</a></li>
      </ul>
    </li>
  </ul>
  {% endblock %}

{% endblock %}
