{% extends "module_employee/base.html" %}

{% block content %}
<div class="wrapper">
  <div class="row">
    <div class="center-page">
      <h3 class="text-center">Add Employee Information</h3>
      <div class="col-md-6 col-md-offset-3 white-panel">

        {% include 'module_employee/form-message.html' %}

        <form method="post">
          {{ form.csrf_token }}

          <div class="form-group label-floating">
            <label class="control-label">username</label>
            <input class="form-control" type="text" name="username">
          </div>

          <div class="form-group label-floating">
            <label class="control-label">full name</label>
            <input class="form-control" type="text" name="fullname">
          </div>

          <div class="form-group label-floating">
            <label class="control-label">nip</label>
            <input class="form-control" type="text" name="nip">
          </div>

          <div class="form-group label-floating">
            <label class="control-label">password</label>
            <input class="form-control" type="password" name="password">
          </div>

          <div class="form-group label-floating">
            <label class="control-label">verify password</label>
            <input class="form-control" type="password" name="verifyPassword">
          </div>

          <input type="submit" class="btn btn-primary" value="Add Employee">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
