{% extends "base.html" %}

{% block content %}
<div class="wrapper">
  <div class="main-dashboard container">
    <div class="row">
      <div class="col-md-12">

        <div class="center-page">
          <div class="wrapper">
            <div class="container">
              <nav class="pull-right">
                <form class="form-inline" method="post" action="{{ url_for('module_employee.search') }}">
                  <ul class="list-unstyled list-inline">
                    <li>
                      <input class="form-control" type="text" name="keyword" placeholder="search">
                    </li>
                    <li>
                      <button type="submit" class="btn btn-default btn-circle"><i class="fa fa-search"></i></button>
                    </li>
                  </ul>

                </form>
              </nav>
            </div>
          </div>

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Username</th>
                <th>Fullname</th>
                <th>Nip</th>
              </tr>
            </thead>
            <tbody>

              {% for employee in data %}
                <tr>
                  <td>{{ employee.username }}</td>
                  <td>{{ employee.fullname }}</td>
                  <td>{{ employee.nip }}</td>
                </tr>
              {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
